<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css">
</head>
<body>
    <main role="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <img src="../img/osf.png" class="img-fluid rounded mx-auto d-block m-3">
                <h1 class="display-3 text-center">Search Page</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <form action="/searchUser" method="GET">
                        <div class="form-group">
                            <label for="SignIn">Please sign in</label>
                            <input type="text" name="id" required class="form-control mb-3">

                            <button type="submit" class="btn btn-primary col-xl-12">Register Contact</button>

                        </div>
                    </form>
                </div>
                
            
            </div>
        </div>
    </main>
    
    
</body>
</html>